.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 460px;
  position: absolute;
  height: 460px;
  font-weight: bold;
  color: #76dbdb;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  z-index: 0;
  pointer-events: none;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  font-family: var(--font-manrope), sans-serif;
}